<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZRodConsoleSForce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ZRodConsoleSForce.Properties.Settings>
            <setting name="ZRodConsoleSForce_sforce_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/c/35.0</value>
            </setting>
        </ZRodConsoleSForce.Properties.Settings>
    </applicationSettings>
</configuration>